<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>hadoop.tmp.dir</name>
        <value>{{ hadoop_tmp_dir }}</value>
    </property>
    <property>
        <name>fs.defaultFS</name>
        <value>{{ hadoop_fs_default_name }}</value>
    </property>
    <property>
        <name>hadoop.proxyuser.{{ hadoop_impersonate_user }}.groups</name>
        <value>*</value>
    </property>
    <property>
        <name>hadoop.proxyuser.{{ hadoop_impersonate_user }}.hosts</name>
        <value>*</value>
    </property>
</configuration>
